.gantt-summary
{
    position:relative;
    border-top:solid 1px #ccc;
    min-height:20px;
    font-size:12px;
    font-family:Verdana;
    line-height:19px;
}

.gantt-summary-cell
{
    position:absolute;
    border:solid 1px #ccc;
    border-left-width:0;
    border-top-width:0;
    text-align:center;
    overflow:hidden;
}

